# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/
env1/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/*.csv
data/*.xlsx
data/*.json
data/*.zip
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Build / packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
pytest_cache/
